<div class="row my-5">

    <div class="col-md-6">

        <div class="bg-warning rounded-4 p-5">

            <h3>Fresh Vegetables</h3>

            <p>Up to 30% OFF</p>

            <a href="#" class="btn btn-success">
                Shop Now
            </a>

        </div>

    </div>

    <div class="col-md-6">

        <div class="bg-success text-white rounded-4 p-5">

            <h3>Fresh Fruits</h3>

            <p>Special Discount</p>

            <a href="#" class="btn btn-light">
                Shop Now
            </a>

        </div>

    </div>

</div>